* {
  box-sizing: border-box;
}
.container {
  width:800px;
  height:auto;
  margin: auto;
  border:1px solid black;
}
.controlli_vendite {
  width:100%;
  display:flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom:50px;
}
select {
  width:150px;
  height:20px;
  margin-right:20px;
}
input {
  width:150px;
}
#inserisci {
  margin-left:20px;
}
